Source: gstreamer1.0-pwcompat
Section: libs
Priority: optional
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Build-Depends: debhelper-compat (= 13),
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libdroidmedia-dev,
               libyuv-dev,
               meson,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/gstreamer-pwcompat
Vcs-Git: https://github.com/furilabs/gstreamer-pwcompat.git

Package: gstreamer1.0-pwcompat
Architecture: any
Pre-Depends: gstreamer1.0-pipewire
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: GStreamer 1.0 plugin for the PipeWire multimedia server compatibility
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of audio and video (such as from a capture devices
    or application provided streams) and multiplexing this with clients.
  - Accessing sources of audio and video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains a plugin to make devices managed by the PipeWire
 server available as GStreamer sources and sinks.

Package: flatpak-extension-gstreamer-pwcompat
Architecture: any
Depends: gstreamer1.0-pwcompat (= ${binary:Version}),
Description: GStreamer 1.0 PipeWire compatibility plugin extension for org.freedesktop.Platform.GStreamer runtime
 This package contains gstreamer's pipewire compatibility library shipped as an
 extension of org.freedesktop.Platform.GStreamer.
