#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

export TRIPLET := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export BUILD_DIR := obj-$(TRIPLET)
export HOST_INSTALL_DIR := debian/gstreamer1.0-pwcompat/usr/lib/$(TRIPLET)/gstreamer-pwcompat

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), armhf))
FLATPAK_ARCH = arm
endif
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), arm64))
FLATPAK_ARCH = aarch64
endif
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), i386))
FLATPAK_ARCH = x86
endif
ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH), amd64))
FLATPAK_ARCH = x86_64
endif

FLATPAK_GSTREAMER_VERSIONS = 20.08 21.08 22.08 23.08 24.08 25.08

%:
	dh $@

override_dh_auto_install:

override_dh_install:
	# we want to override mesons install target so that we can copy it elsewhere and use diversions
	mkdir -p $(HOST_INSTALL_DIR)
	cp -f $(BUILD_DIR)/src/libgstpipewire.so $(HOST_INSTALL_DIR)/

	set -e; \
	for ver in $(FLATPAK_GSTREAMER_VERSIONS); do \
		install_dir=debian/flatpak-extension-gstreamer-pwcompat/var/lib/flatpak/extension/org.freedesktop.Platform.GStreamer.pwcompat/$(FLATPAK_ARCH)/$$ver; \
		mkdir -p "$$install_dir"; \
		cp -f $(BUILD_DIR)/src/libgstpipewire.so "$$install_dir"/; \
	done

override_dh_strip:
	dh_strip -Nflatpak-extension-gstreamer-pwcompat

override_dh_dwz:
